In [ ]:
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import io

:

In [ ]:
dataLinks = []
titles = []
for i in range(1,31):
    print(i)
    response = get(f"https://fred.stlouisfed.org/tags/series?et=&pageID={i}&t=construction%3Busa")
    soup = BeautifulSoup(response.text, 'html.parser')
    # print(soup)
    containers = soup.find_all("tr")
    # print(containers)
    for box in containers:
        # print(box.text)
        if "machinery" in box.text.lower() or "equipment" in box.text.lower() or "contract" in box.text.lower() or "spend" in box.text.lower():
            dataLinks.append("https://fred.stlouisfed.org"+box.find("a")["href"])
            titles.append(box.find("a").text)


# for i, link in enumerate(dataLinks):
#     print(i)
#     print(link)
print(len(dataLinks))
print(titles)

In [8]:
url = f"https://fred.stlouisfed.org/graph/fredgraph.csv?id={code}"
s=get(url).content
df=pd.read_csv(io.StringIO(s.decode('utf-8')))
display(df)

           DATE  PCU333120333120
0    1976-12-01           67.800
1    1977-01-01           68.600
2    1977-02-01           69.000
3    1977-03-01           69.100
4    1977-04-01           69.700
..          ...              ...
547  2022-07-01          308.245
548  2022-08-01          316.722
549  2022-09-01          317.622
550  2022-10-01          317.618
551  2022-11-01          318.923

[552 rows x 2 columns]

In [ ]:
num = 0
arr = []
for i, title in zip(dataLinks, titles):
    code = i.split('/')[-1]
    url = f"https://fred.stlouisfed.org/graph/fredgraph.csv?id={code}"
    print(url)
    s=get(url).content
    df=pd.read_csv(io.StringIO(s.decode('utf-8')))
    # df["Index"] = list(range(num,num+len(df)))
    df["GraphName"] = [title]*len(df)
    df.columns = ["Date", "GraphIndex", "GraphName"]
    arr.append(df)
    # df.set_index("Index", inplace=True)
    # df.set_index(list(range(num,num+len(df))),inplace=True)
    print(len(df))
    display(df)
    num+=len(df)
final = pd.concat(arr, ignore_index=True)
display(final)
final.to_csv("FRED-construction-data.csv")

In [ ]:
response = get(f"https://fred.stlouisfed.org/series/TTLCONS")
soup = BeautifulSoup(response.text, 'html.parser')
print(soup)

In [44]:
final.index.name='Index'
display(final)
final.to_csv("FRED-construction-data.csv")

,Date,GraphIndex,GraphName
Index,,,
0,1993-01-01,458080,Total Construction Spending: Total Constructio...
1,1993-02-01,462967,Total Construction Spending: Total Constructio...
2,1993-03-01,458399,Total Construction Spending: Total Constructio...
3,1993-04-01,469425,Total Construction Spending: Total Constructio...
4,1993-05-01,468998,Total Construction Spending: Total Constructio...
...,...,...,...
36801,2016-08-01,19.0,"All Employees: Construction: Building, Develop..."
36802,2016-09-01,19.0,"All Employees: Construction: Building, Develop..."
36803,2016-10-01,18.8,"All Employees: Construction: Building, Develop..."
36804,2016-11-01,19.3,"All Employees: Construction: Building, Develop..."
36805,2016-12-01,18.8,"All Employees: Construction: Building, Develop..."